
/GamingPlatform/.vs
/GamingPlatform/Domain/bin
/GamingPlatform/Domain/obj
/GamingPlatform/Repository/bin
/GamingPlatform/Repository/obj
/GamingPlatform/Service/bin
/GamingPlatform/Service/obj
/GamingPlatform/Web/bin
/GamingPlatform/Web/obj
