@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5" style="color: #13274F;">
    <h1 class="display-4" style="color: #13274F;">Keep playing and aim for a higher score to secure your spot on the leaderboards!</h1>
    <p class="lead" style="color: #13274F;">Challenge yourself and rise to the top!</p>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-primary" style="border-color: transparent; background-color: transparent; color: lightsteelblue;">Back to Leaderboard</a>
    </div>
</div>