<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex justify-content-between">
            <div>
                <a class="navbar-brand" asp-controller="Game" asp-action="Index" style="color: #13274F;">Games</a>
                <a class="navbar-brand" asp-controller="HighScore" asp-action="Index" style="color: #13274F;">Leaderboard</a>
            </div>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="font-size:xx-large;">
                <img src="https://cdn-icons-png.flaticon.com/512/2780/2780137.png" width="70" height="70" class="d-inline-block align-top" alt="">
                <span class="align-middle" style="color: lightsteelblue;">Gaming Platform</span>
            </a>
            <div class="d-sm-inline-flex justify-content-between" style="color: #13274F;">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
