@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ultimate Gaming Platform!</h1>
    <p class="lead mb-4">Step into a realm of excitement where epic challenges await you. Compete with gamers from around the world and showcase your skills!</p>
    <p class="lead mb-4">Upload your high scores and rise to the top of the leaderboard. Your gaming adventure starts here!</p>
</div>